@model pinit.Data.Pin

@{
    ViewBag.Title = "Details";
    var newComment = new pinit.Data.Comment() { };
    newComment.UserName = User.Identity.Name;
    newComment.PinId = Model.PinId;

    var newLike = new pinit.Data.UserLike();
    newLike.UserName = User.Identity.Name;
    newLike.PinId = Model.PinId;

    int likes = 0;
    likes = ViewBag.Likes;
}



<div class="container theme-showcase">
    <div class="center-block">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> tages here</h3>
            </div>
            <div class="panel-body">
                @Html.ErrorAlert()
                @Html.PinTag(Model.Picture.ImageUrl, "pin")


                <hr />
                @if (ViewBag.AllowComment)
                {
                    if (Model.Comments.Count() > 0)
                    {
                        foreach (var comment in Model.Comments)
                        {
                            @Html.DisplayComment(comment.CommentText, comment.UserName, comment.DateCommented)
                        }
                    }
                    else
                    {
                        //  @:there are no comments
                    }
                    <hr />

                    @Html.Partial("_AddCommentPartial", newComment)
                }
            </div><!-- /.panel-body -->
            <div class="panel-footer">
                @if (User.Identity.Name == Model.Board.UserInfo.UserName)
                {
                    <ul class="list-inline">

                        <li>  @Html.ActionLink("Delete", "Delete", new { id = Model.PinId }) |</li>
                        <li>  @Html.ActionLink("Back", "Details", "Boards", new { id = Model.BoardId }, null) |</li>
                        <li> @Html.DisplayLikes(likes)</li>
                    </ul>
                }
                else
                {
                    <ul class="list-inline">

                        <li>  @Html.ActionLink("Back", "Details", "Boards", new { id = Model.BoardId }, null) |</li>
                        <li>  @Html.Partial("_AddLikePartial", newLike) </li>
                    </ul>
                  
                }
            </div>


        </div><!-- panel panel-default-->

    </div><!--center -->
</div> <!-- /container -->
