@model pinit.Models.OverviewModel

@{
    ViewBag.Title = "Home Page";
}



@Html.Partial("_PendingFriendRequestPartial", Model.PendingFriendRequests)


<div class="jumbotron">
   this is where ill show u some of the boards you are following 
    its come be some thing like 
    <ul class="list-inline">
        <li>
            <p>
                @Html.ActionBoard("Details", new { id = 1 }, "~/Content/board.jpg", "boo")

            </p>
        </li>
        <li>
            <p>
                @Html.ActionBoard("Details", new { id = 1 }, "~/Content/board.jpg", "boo")

            </p>
        </li>
        <li>
            <p>
                @Html.ActionBoard("Details", new { id = 1 }, "~/Content/board.jpg", "boo")

            </p>
        </li>
        <li>
            <p>
                @Html.ActionBoard("Details", new { id = 1 }, "~/Content/board.jpg", "boo")

            </p>
        </li>
        <li>
            <p>
                @Html.ActionBoard("Details", new { id = 1 }, "~/Content/board.jpg", "boo")

            </p>
        </li>
    </ul>
</div>


<div class="container theme-showcase">
    <div class="center-block">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("_BoardsPartial" , Model.boards.Take(6))
            </div><!-- /.panel-body -->
        </div><!-- panel panel-default-->
    </div><!--center -->
</div> <!-- /container -->

@Html.Partial("_ActiveFriendPartial", Model.ActiveFriends)

