<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/textext")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Pin It", "About", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boards<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Boards", "Index", "Boards")</li>
                                <li>@Html.ActionLink("Create", "Create", "Boards")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Friends<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Friends", "Index", "FriendShip", null , new { error = "" })</li>
                                <li>@Html.ActionLink("Add", "Index", "UserInfo", null, new { error = "" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Streams<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Streams", "Index", "Stream")</li>
                                <li>@Html.ActionLink("Create", "CreateStream", "Stream")</li>
                            </ul>
                        </li>

                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }
    <br /><br /><br />
    <div class="container body-content">

        @RenderBody()
        <hr />

        @if (User.Identity.IsAuthenticated)
        {
            <footer>
                <p>&copy; @DateTime.Now.Year - PINIT a pinterest clone</p>
            </footer>
        }
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/textext")
    @RenderSection("scripts", required: false)


</body>
</html>
