@model IEnumerable<pinit.Data.UserInfo>

@{
    ViewBag.Title = "Possible Friends";
}

<h2>Add Friends</h2>
<div class="container theme-showcase">
    @Html.ErrorAlert(true)
    <div class="center-block">

        @Html.Partial("_SearchFriendPartial")

    @if (Model.Count() > 0)
    {
        <div class="panel panel-default ">
            <div class="panel-body">
                <div class="bs-example table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><span class="badge">@Html.ActionLink("Request", "RequestFriendShip", new { id = item.UserName }) </span> | <span class="badge">@Html.ActionLink("Boards", "Index", "FriendBoards", new { id = item.UserName }, null)</span></td>
                                    <td>@Html.DisplayFor(modelItem => item.FirstName) </td>
                                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                </tr>

                            }


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <em class="text-info">These are the friend ship request people have made for you. You need to act on them</em>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default ">
            <div class="panel-body">
                every one is ur friend or you must have sent a request to every one
            </div>

        </div>
    }
</div><!--center -->
</div> <!-- /container -->
