@model pinit.Models.FriendShip

@{
    ViewBag.Title = "Index";
}



<h2>Friends</h2>
<div class="container theme-showcase">
    @Html.ErrorAlert(true)
    <div class="center-block">

        
                    @Html.Partial("_SearchFriendPartial")
         


        <div class="row">
            @if (Model.PendingFriends.Count() > 0)
            {
                <div class="col-sm-5">
                    @Html.Partial("_PendingFriendRequestPartial", Model.PendingFriends)
                </div>
            }

            @if (Model.ActiveFriends.Count > 0)
            {
                <div class="col-sm-5">
                    @Html.Partial("_ActiveFriendPartial", Model.ActiveFriends)
                </div>
            }

            @if (Model.PendingRequests.Count > 0)
            {
                <div class="col-sm-5">
                    @Html.Partial("_PendingRequestPartial", Model.PendingRequests)
                </div>
            }
        </div>
    </div><!--center -->
</div> <!-- /container -->
