@model pinit.Data.Board

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="container theme-showcase">
    <div class="center-block">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayTextFor(model => model.BoardName) by @Html.DisplayTextFor(model => model.UserInfo.UserName)   </h3>
            </div>
            @if (User.Identity.Name == Model.UserInfo.UserName)
            {
                <div class="panel-body">
                    @ViewBag.StatusMessage
                    @Html.Partial("_AddPinPartial", Model)

                </div><!-- /.panel-body -->
                <hr />
            }
            <div class="panel-body">
                @Html.Partial("_PinsPartial", Model.Pins)
            </div><!-- /.panel-body -->
            <div class="panel-footer">
                <ul class="list-inline">
                   
                   @if (User.Identity.Name == Model.UserInfo.UserName)
                    {

                            <li>  @Html.ActionLink("Edit", "Edit", new { id = Model.BoardId }) |</li>
                            <li>  @Html.ActionLink("Back", "Index") |</li>
                            <li> @Html.ActionLink("Delete", "Delete", new { id = Model.BoardId })</li>

                    }
                    else
                    {
                            <li>  @Html.ActionLink("Back", "Index", "FriendBoards",  new { id = Model.UserInfo.UserName } , null) </li>
                            <li>  @Html.ActionLink("Follow", "FollowBoard", "Stream",  new { id = Model.BoardId } , null) </li>
                    }

                    <li>
                        created by @Html.DisplayTextFor(model => model.BoardOwner) on @Html.DisplayTextFor(model => model.DateCreated)
                    </li>
                    @if (Model.PrivateComments != true)
                    {
                        <li>
                            <img src="~/Content/comments.jpg" alt="Comments allowed" />
                        </li>
                    }
                    else
                    {
                        <li> <img src="~/Content/nocomments.jpg" alt="No comments" /> </li>
                    }
                    </ul>
                </div>


            </div><!-- panel panel-default-->

        </div><!--center -->
    </div> <!-- /container -->
