@model pinit.Models.BoardDropDown


@{
    ViewBag.Title = "Repin";
}

<div class="container theme-showcase">
    <div class="center-block">

        @Html.ErrorAlert(true)



        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add To a New Board</h3>
            </div>

            <div class="panel-body">

                @using (Html.BeginForm("CreateStreamForBoard", "Stream", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.PinId)
                    @Html.HiddenFor(m => m.HasBoard)
                    <div class="form-horizontal">


                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                @Html.EditorFor(model => model.BoardName, new { @class = "form-control", @placeholder = "Stream Name" })
                                @Html.ValidationMessageFor(model => model.BoardName)
                            </div>
                        </div>






                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                <input type="submit" value="Add to a new stream" class="btn btn-sm btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div><!-- /.panel-body -->

        </div><!-- panel panel-default-->
        @if (Model.HasBoard)
        {
            <div class="panel panel-primary">


                <div class="panel-heading">
                    <h3 class="panel-title">Add To an Existing Stream</h3>
                </div>

                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.PinId)
                        @Html.HiddenFor(m => m.HasBoard)
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                @Html.DropDownListFor(m => m.BoardId, Model.Boards, new { @class = "form-control", @placeholder = "Boards" })
                                @Html.ValidationMessageFor(m => m.BoardId)
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                <input type="submit" value="Add to selected stream" class="btn btn-sm btn-primary" />
                            </div>
                        </div>


                    }
                </div><!-- /.panel-body -->



            </div><!-- panel panel-default-->
        }
    </div><!--center -->
</div> <!-- /container -->
